 // Author: Caoimhe Malone (key-vah) 

// Colours
$green: #a9e20e;
$white: #fff;
$dark-grey: #343a40;
$peach: #ea706b;
$orange: #fb6a32;
$blue: #1ebbd7;
$yellow: #ceca2b;
$wine: #BA0D3E;


.gif1 {
  background-image: url(../images/under-construction.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FCCB4F;
  margin-top: -10em; //Bad practice but only for construcntion
}
.social-bar {
	color: black;
	padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.membership-option {
	padding: 2em;
	border: 2px black;
  border-style: dotted;
  //background-color: $peach;
  //color: $white;
  color: $dark-grey;
  background-color: $white;
  margin-bottom: 2em;
  height: 90%;

  &:hover {
    background-color: $wine;
    font-weight: bold;
    color: #000;
    cursor: pointer;
  }

  

}

.memberships {
  //padding-bottom: 2em;
  h3 {
    //padding-top: 2em;
    margin-top: 25em;
  }

  button:focus {
    outline: 1px  $dark-grey;
    }

  a:hover {
    text-decoration: none;
    color: #000;
  }
}

    .signUpBtn {
    background-color: $dark-grey;
    border-radius: 6px;
    padding: 0.5em 1em;
    color: $white;
    text-decoration: none;
    margin: 5%;
    width: 90%;
    border: 4px $dark-grey; /* can't see it but it's so on the hover the text position doesn't move */
    border-style: solid;
    &:hover {
      cursor: pointer;
      color: $peach;
      text-decoration: none;
      background-color: $white;
      border: 4px $peach;
      border-style: solid;
      font-weight: bold;
    }
  }

//So the scroll has a bit of padding
#memberships, #team, #timetable, #about, #blog {
  width: 100%;
  height: 60px;
}

.rounded-circle, .team-overlay {
  background-color: #fff;
  height: 100px;
  width: 100px;
  margin-bottom: 20%; 
  background-size: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.rounded-circle {
  position: relative;
  z-index: 1;
  border: 1px solid black;
  margin: 0 auto;

  &:hover {
    z-index: -2;
  }
}


.team-overlay {
  position: absolute;
  opacity: 0.5;
    background-color: #000;
    display: none;


  &:hover {
    cursor: pointer;
    display: block;

  }
}

.team-member {
  margin-top: 5%;

  p {
    margin-top: 6%;
  }
}

.timetable {
	//padding: 3em;
  height: 50em;

  #top-bar {
    display: none !important;
  }

  #doc-title {
    display: none !important;
  }
}

.schedule {
  width: 50%;
  height: 400%;
  margin-left: 20%;
}

.schedule-mobile {
  display: none;
}

.schedule-desktop {
  display: block;
   margin-left: 0%;
  width: 100%;
  height: 350%;
}

iframe {
  #top-bar {
    display: none !important;
  }
}

.about {
  //margin-top: 55%;
}
.contact-info {
	padding-top: 2em;

  .contact-title {
    margin-left: 30%;
  }
}

.contact-listing {
    padding-left: 2em;
    padding-right: 7em;
    padding-top: 2em;
}

.contact-form {
    padding-left: 30%;
}

#contactForm {
  margin-left: 30%;
}

.submit {
	margin-left: 10%;
}

.blog-image {
    border: 5px solid black;
    //padding: 25px;
    margin: 25px;

    img {
    	width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
}

.blog {
  a {
    color: #000;

    &:hover {
      text-decoration: none;
      color: #000; /*Overriding bootstrap */
      font-weight: bold;

      
    }
  }
}


.carousel {
  padding-top: 3em;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog, .timetable {
  background-image: url(../images/icon-collage.png);
}

.fixed-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

h3 {
  //padding-top: 1.5em;
}


//For diagonal divs
.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(5.5deg);
          transform: skewY(5.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;

}
.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-5.5deg);
          transform: skewY(-5.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}


.white {
  background-color: $white;
}

.dark-grey {
  background-color: $dark-grey
}


h1 {
  font-size: 32px;
  font-weight: 500;
}

// input fields

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Madoka */
.input--madoka {
  margin: 1.1em;
  padding-bottom: 2em;
}

.input__field--madoka {
  width: 100%;
  background: transparent;
  color: #7A7593;
}

.input__label--madoka {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $peach;
  text-align: left;
  cursor: text;
  padding-top:4em;
}

.input__label-content--madoka {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.graphic--madoka {
  -webkit-transform: scale3d(1, -1, 1);
  transform: scale3d(1, -1, 1);
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
  pointer-events: none;

  stroke: $peach;
  stroke-width: 4px;
  stroke-dasharray: 962;
  stroke-dashoffset: 558;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
  cursor: default;
  pointer-events: none;
}

.input__field--madoka:focus + .input__label--madoka .graphic--madoka,
.input--filled .graphic--madoka {
  stroke-dashoffset: 0;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka,
.input--filled .input__label-content--madoka {
  -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
  transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}

#submitBtn {
  color: $white;
  background-color: #343a40;
  border-radius: 6px;
  font-weight: bold;
  width: 60%;
  margin-top: 2em;
}

// For scroll reveal 
.reveal
{
    opacity:0;
}

//Scroll to top
.scrollToTop {
  button {
    //background-color: $green;
    position: fixed;
    float:right;
    right: 2%;
    background-image: url(../images/scroll2.png); 
    bottom: 1%;
    background-repeat: no-repeat;
    z-index: 3;
    color: transparent;
    text-decoration: none;
    border-style: solid;
    background-color: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-color: #000 4px solid;
    display: block;
    width: 2.5%;

    &:hover {
      cursor: pointer;
    }
  }

  button:focus {
    outline: 1px  $peach;
  }
  

  a {
    color: #000;
  }
  a:hover {
    color: #000;
    text-decoration: none;
  }
}


//Nav X animation 

$radius: 50px;

.hamburgler{
    width: 2em;
    height: 2em;
    display: block;
    transition: .3s ease all;

    &.no-hamburgler{
        transform: rotate(-45deg);
    }
}

.bun,
.meat{
    display: block;
    width: 100%;
    background: $peach;
    height: 20%;
    transition: .3s ease all;
    border-radius: $radius;
}

.top{
     .no-hamburgler & {
        height: 38%;
        width: 20%;
        margin-left: 40%;
        border-radius: $radius $radius 0 0;
    }
}

.bottom{
    .no-hamburgler & {
        height: 38%;
        width: 20%;
        margin-left: 40%;
        border-radius: 0 0 $radius $radius;
    }
}

.meat{
    margin: 20% 0;
    
    .no-hamburgler &{
        margin: 2% 0;

    }
}

.navbar {
  .hamburgerBtn:focus {
    outline: none;
  }

  .nav-item :hover {
    cursor: pointer;
  }

  .signUpBtn {
    background-color: $peach;
    border-radius: 6px;
    border-color: $peach;
    padding: 0.5em 1em;
    color: $dark-grey;
    text-decoration: none;
    margin-left: 1em;
    &:hover {
      cursor: pointer;
      color: $white;
      text-decoration: none; 
    }
  }
}


//*
//*
//*
//*
//*
//*
//*
//*
//*
//*
//*
//Media Queries 

//Random
@media (min width: 569px) and (max-width: 767px) {
  .scrollToTop {
    button {
      bottom: 4%;
      right: 3%;
      padding-right: 3.2%;
    }
  }
  .timetable {
    height: 36em;
  }
}

@media (min-width: 768px) and (max-width: 991px ){
  .scrollToTop {
    button {
      bottom: 4%;
      right: 3%;
      padding-right: 2.5%;
    }
  }

}


//Everything under a laptop 
@media (max-width: 991px) {
  .submit {
    padding-top: 2em;
  }

  #submitBtn {
    margin-top: 2em;
    width: 80%;
    margin-left: 2em;
    margin-right: 2em;
  }

  .memberships {
  //padding-bottom: 2em;
  h3 {
    //padding-top: 2em;
    margin-top: 8em;
  }

  }
  .gif1 {
    margin-top: 0;
  }


}

 /* ----------- Tablets ----------- */

@media (max-width: 1000px) {
  .schedule {
  height: 300%;
  width: 80%;
}

  .about {
    //padding-top: 20%;
  }

      #memberships, #team, #timetable, #about, #blog {
      height: 66px;
  }
}

@media  (min-width: 992px) and (max-width:1024px) {
  .scrollToTop {
    button {
      bottom: 3%;
      right: 3%;
      padding-right: 0.9%;
    }
  }

}

 /* ----------- Laptop & large tablets ----------- */

@media  (min-width: 1024px) {
    #memberships, #team, #timetable, #about, #blog {
      height: 66px;
  }

  #submitBtn {
    width: 80%;
    margin-top: 2em;
    margin-left: 3em;
  }

  .gif1 {
    margin-top: -6em;
  }

  }

  //Large Laptop
   @media only screen 
and (min-width : 1025px) 
and (max-width : 1440px) {
  .scrollToTop button {
    padding-right: 1%;
    width: 2.25%;
  }
}

// 4K Monitor
   @media only screen 
and (min-width : 1441px)  {
  .scrollToTop button {
    padding-right: 1.25%;
    width: 1.15%;
  }
}


  /* ----------- iPad ----------- */

//Anything under an ipad
  @media only screen 
and (max-device-width : 1023px)  { 

    .schedule-desktop {
    display: none;
  }

  .schedule-mobile {
    display: block;
  }

  .membership-option {
    margin-bottom: 2em;
  }

}

 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px)  {

    .memberships {
    h3 {
      margin-top: 14em;
    }
  }

  }


  /* ----------- iPad Mini ----------- */

  /* iPad Mini in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 
  .schedule {
    margin-left: 10%;
  }
}

/* iPad Mini in landscape only */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { /* STYLE */}

/* iPad Mini in portrait only */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { /* STYLE */ }


  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .scrollToTop {
    button {
      bottom: 5%;
      right: 5%;
      padding-right: 3.75%;
    }
  }

  .timetable {
    height: 36em;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .scrollToTop {
    button {
      bottom: 4%;
      right: 5%;
      padding-right: 5%;
    }
  }

  .timetable {
    height: 42em;

    .container {
      //padding-right: 0px;
      //padding-left: 0px;
      padding-top: 2em;
    }
  }

    .schedule {
      margin-left: 0%;
      width: 100%;
      height: 350%;
    }
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .timetable {
    height: 44em;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .scrollToTop {
    button {
      padding-right: 3%;
    }
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .scrollToTop {
    button {
      bottom: 4%;
      padding-right: 3.2%;
    }
  }

  .timetable {
    height: 44em;
  }

  #contactForm {
  margin-left: 0;
}

  .contact-info {
    .contact-title {
    margin-left: 0;
    padding-top: 2em;
    }

  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S3 ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 2) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 2) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 2) 
//   and (orientation: landscape) {

// }

 /* ----------- Galaxy Note 2 ----------- */

 /*  Galaxy Note2 - Portrait */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and  (max-device-height: 640px) and (orientation: portrait) {
    
    .schedule {
      margin-left: 10%;
    }

}



// /* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) {

//     .schedule {
//       margin-left: 10%;
//     }

// }

// /* Portrait */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 320px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: landscape) {

// }

// /* ----------- Galaxy S6 ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: landscape) {

// }

// /* ----------- Google Pixel ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: portrait) {

// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 3) 
//   and (orientation: landscape) {

// }

// /* ----------- Google Pixel XL ----------- */

// /* Portrait and Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) {

// }

// /* Portrait */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: portrait) {
// }

// /* Landscape */
// @media screen 
//   and (device-width: 360px) 
//   and (device-height: 640px) 
//   and (-webkit-device-pixel-ratio: 4) 
//   and (orientation: landscape) {

// }


//Bootstrap overrides
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.timetable {
  .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container {
  h3 {
    font-family: AvenirNextRegular,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    letter-spacing: 1px;
  }
}

.navbar-toggler {
  border-color: #343a40 !important;
}
